.container {
  display: flex;
  flex-direction: row;
}

.image {
  border-radius: 100%;
  height: 380px;
  width: 380px;
}

.profile {
  margin-left: 5%;
}

.subtitle {
  font-size: 30px;
}

.paragraph {
  font-size: 18px;
  margin: 24px 0;
}

.link {
  font-size: 18px;
  color: #d7816a;
  text-decoration: none;
}

.link:hover {
  opacity: 0.5;
}

@media (max-width: 920px) {
  .container {
    flex-direction: column;
  }

  .subtitle {
    margin: 24px 0;
  }

  .profile {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .subtitle {
    font-size: 5vw;
  }
}
