.nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.button,
.activeButton {
  border: none;
  font-size: 40px;
  background-color: white;
  font-weight: bold;
  letter-spacing: -0.05em;
  border-bottom: 3px solid white;
  padding: 0px;
  margin-right: 10px;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  outline: none;
  color: #d7816a;
}

.activeButton {
  border-bottom: 3px solid black;
  color: #d7816a;
}

@media (max-width: 1080px) {
  .button,
  .activeButton {
    font-size: 4vw;
  }
}

@media (max-width: 920px) {
  .nav {
    margin: 0 0 18px;
  }

  .button,
  .activeButton {
    font-size: 5vw;
  }
}

@media (max-width: 600px) {
  .button,
  .activeButton {
    font-size: 5.7vw;
  }
}
