.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  background: white;
  z-index: 1;
}

.nav::before {
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 40px);
  bottom: 0;
  left: -20px;
  z-index: -1;
  background-color: white;
}

.navLinks {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
}

.button,
.activeButton {
  border: none;
  font-size: 40px;
  background: none;
  font-weight: bold;
  letter-spacing: -0.05em;
  border-bottom: 3px solid transparent;
  padding: 0px;
  margin-right: 10px;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  outline: none;
  color: #d7816a;
}

.activeButton {
  border-bottom: 3px solid black;
  color: #d7816a;
}

.title {
  font-size: 50px;
  letter-spacing: -0.05em;
  margin-bottom: 1%;
  font-weight: normal;
}

@media (max-width: 1080px) {
  .button,
  .activeButton {
    font-size: 4vw;
  }
}

@media (max-width: 920px) {
  .navLinks {
    margin-bottom: 18px;
  }

  .button,
  .activeButton {
    font-size: 5vw;
  }

  .title {
    margin: 0 0 18px;
  }
}

@media (max-width: 600px) {
  .button,
  .activeButton {
    font-size: 5.7vw;
  }
}
