#about h3 {
  font-size: 30px;
  color: #74B2CE
}

#about section {
  text-align: center;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#about section * {
  margin: 10px;
}

.resume:hover {
  background: #74B2CE;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0% 15% 0% 15%;
}