
#contact h2 {
  color: #F0CF65
}

#contact section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact section * {
  margin: 10px;
}

#contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#contact section a {
  transition: 0.3s;
  padding: 0;
}

#contact section a:hover {
  opacity: 0.5;
}

.fa-chevron-up {
  margin-top: 10%;
  color: grey;
  font-size: 80px;
  transition: 0.3s;
}

.fas:hover {
  cursor: pointer;
  opacity: 0.5;
}