#home {
  justify-content: flex-start;
  padding-top: 8%;
}

#home h1 {
  font-family: 'IBM Plex Serif', serif;
  font-size: 50px;
}

#home span {
  font-family: 'IBM Plex Serif', serif;
  font-size: 40px;
  color: black;
  background: none;
  border: none;
  width: 400px;
  margin-left: 8%;
}

.keyboard {
  margin: 5px;
  content: '';
  background: url(../media/keyboard.jpg) white no-repeat center;
  background-size: cover;
  width: 30vh;
  height: 30vh;
  filter: invert(100%)
}