#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'IBM Plex Serif', serif;
}

#home span {
  font-size: 40px;
  width: 325px;
}

.keyboard {
  margin: 5px;
  content: '';
  background: url(../media/keyboard.jpg) white no-repeat center;
  background-size: cover;
  width: 50vh;
  height: 50vh;
  filter: invert(100%)
}