body {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 0.2em;
}

#root {
  width: inherit;
  height: inherit;
}

article {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-stop: always;
}

#profile, #skills {
  background: white;
}

#contact {
  height: 95vh;
}

article h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
}

article h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  transition: 0.3s;
}

footer {
  text-align: center;
  font-size: 12px;
  margin: 20px;
}

.button {
  width: 170px;
  padding: 10px;
  background: white;
  color: black;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 0.2em;
}

.button:hover {
  cursor: pointer;
  background: #D7816A;
  color: white;
}

input:focus, textarea:focus {
  outline: none;
}

/* @viewport {
  width: device-width ;
  zoom: 1.0 ;
} */