* {
  transition: 0.3s;
}

body {
  background: white;
  color: black;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#root {
  margin-top: 5%;
  margin-left: 15%;
}

nav {
  margin-bottom: 2%;
}

article {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

h1 {
  font-size: 50px;
  letter-spacing: -0.05em;
  margin-bottom: 1%;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  letter-spacing: -0.05em;
}

h3 {
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: normal;
}

button {
  border: none;
  font-size: 40px;
  background-color: white;
  font-weight: bold;
  letter-spacing: -0.05em;
  border-bottom: 3px solid white;
}

button:focus, button:hover, a:focus, a:hover {
  cursor: pointer;
  outline: none;
  color: #D7816A;
  border-bottom: 3px solid black;
}

nav .active {
  border-bottom: 3px solid black;
  color: #D7816A;
}

footer {
  z-index: 7;
  position: fixed;
  line-height: 50px;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: grey;
  background: rgba(165, 165, 165, 0.105);
  padding: 0px 20px 0px 20px;
}