@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
  }

  #profile {
    width: 95%;
  }

  #profile, #profile div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
  }

  #profile p {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #profile section {
    padding-top: 5%;
    width: 100%;
  }

  .joanna-img {
    height: 300px;
    padding: 5%;
  }

  .project .info, ul.events, footer, .youtube.projects > h2 {
    display: none;
  }

  ul.youtube.projects {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  ul.youtube.projects .project {
    width: 100%;
    margin-left: 20px;
  }

  .soundcloud {
    width: 100%;
  }

  .project h3 {
    margin: 10px;
    font-size: 20px;
  }

  .project span, .project p, .project h5 {
    font-size: 0px;
    padding: 0px;
    margin: 0px;
  }

  .project, #code .project > img {
    width: 100%;
    height: auto;
  }

  #code .project {
    width: 100%;
    height: auto;
    margin-top: 85px;
    margin-bottom: 85px;
  }

  #blog {
    margin-top: 20px;
  }

  #blog .project, #blog .project:focus {
    height: auto;
    border: none;
    margin-top: 5%;
    box-shadow: none;
  }

  .projects.photo {
    margin-top: 20px;
  }

  nav {
    justify-content: center;
  }

  button {
    font-size: 15px;
  }

  .resume-list, #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #skills button {
    margin-top: 20px;
    align-self: flex-end;
  }

  .resume-list > * {
    margin-top: 20px;
  }
  
  .social-links {
    flex-direction: row;
    top: 90%;
    left: 0;
    height: 10%;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgb(200, 200, 200);
  }

  .fab, .fa {
    margin: 0px;
  }

  article::after, .youtube.projects::after, .projects.photo::after {
    display: block;
    content: '';
    height: 100px;
  }
}