#profile {
  flex-direction: row;
  justify-content: space-between;
}


#profile * {
  color: black;
}

#profile h3 {
  margin-top: 3%;
  margin-bottom: 1%;
  font-size: 30px;
  color: #74B2CE
}

.joanna-img {
  height: 100vh;
}


#profile section {
  text-align: justify;

  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile p, .skills {
  padding: 0% 10% 0% 10%;
  letter-spacing: 0;
}

#profile p {
  font-size: 18px;
  line-height: 1.3em;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#profile a {
  color: black;
}

.resume {
  margin-top: 10%;
  background: #74B2CE;
  border: 1px solid #74B2CE;
}

.resume:hover {
  background: white;
}

@media only screen and (max-width: 1180px) { 
  #profile {
    flex-direction: column;
    height: auto;
    padding: 10% 0 10% 0;
  }

  .joanna-img {
    margin-bottom: 10%;
    height: 55vh;
  }
}