#profile {
  flex-direction: row;
}

.joanna-img {
  height: 400px;
  border-radius: 100%;
}

#profile section {
  margin: 0% 15% 0% 5%;
}

#profile p {
  font-size: 18px;
  line-height: 1.3em;
  margin: 3% 0% 3% 0%;
}