#profile {
  flex-direction: row;
}

.joanna-img {
  height: 400px;
  border-radius: 100%;
}

#profile section {
  margin: 0% 0% 0% 5%;
  max-width: 600px;
}

#profile p {
  font-size: 18px;
  line-height: 1.3em;
  margin: 3% 0% 3% 0%;
}

#profile section span {
  font-size: 18px;
  color: #D7816A;
  transition: 0.3s;
}

#profile section span:hover {
  border-bottom: 0px solid black;
  opacity: 0.5;
  cursor: pointer;
}

#profile section span:focus {
  border-bottom: 0px solid black;
}