.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects.photo a:hover, .project a, .project a:hover, .project a:focus {
  border: none;
}

.projects.photo a:focus, .project:hover {
  box-shadow: 0px 0px 20px grey;
}

.project {
  width: 400px;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  margin: 0px 20px 20px 0px;
  box-sizing: border-box;
}

.project *:not(img) {
  z-index: 1;
  color: black;
}

.project img {
  position: absolute;
  opacity: 0.25;
  width: 400px;
  height: 250px;
  z-index: 0;
}

.project h3 {
  display: inline;
  font-size: 35px;
}

.project h4, .project h5 {
  font-weight: normal;
  text-align: center;
  margin: 5px;
}

.info * {
  margin: 5px;
}

.info {
  margin-top: 5px;
}

.project h5 {
  margin: 0;
  margin-top: 3%;
  font-size: 15px;
}

.project a {
  color: grey;
}

.project p {
  margin: 0% 12% 0% 12%;
  color: rgb(189, 189, 189);
  font-size: 15px;
}

.fa-link:hover, .fa-link:focus {
  color: black;
}

#photography {
  width: inherit;
}

#photography span {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  border: none;
  max-width: inherit;
}

#music {
  display: flex;
  flex-direction: row;
}

#music h2 {
  margin-bottom: 3%;
  font-weight: normal;
}

.bandcamp {
  height: 50px;
  width: 400px;
}

.soundcloud {
  height: 80px;
  width: 400px;
  margin-bottom: 20px;
}

.youtube.projects {
  width: 450px;
}

.youtube.project {
  height: 200px;
}

.events {
  min-width: 550px;
}

.event {
  margin-bottom: 3%;
}

.event span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 0% 1% 0%;
}

.location {
  color: rgb(189, 189, 189);
}