#projects {
  height: auto;
  min-height: 100vh;
}

#projects h2 {
  margin: 5%;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

.project {
  width: 400px;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  box-sizing: border-box;
  margin: 10px;
  transition: 0.3s;
}

.project *:not(img) {
  margin: 10px;
  z-index: 1;
}

.project img {
  position: absolute;
  opacity: 0.25;
  width: 400px;
  height: 250px;
  z-index: 0;
}

.project:hover {
  box-shadow: 0px 0px 20px grey;
}

.project h3 {
  display: inline;
  font-size: 35px;
}

.project a {
  transition: 0.3s;
}

.project a:hover {
  opacity: 0.5;
}

.project h3, .fa-times {
  transition: 0.3s;
  margin: 0;
}

.fa-times {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

.project-info {
  position: absolute;
  margin-top: 60px;
  padding: 25px;
  width: 420px;
  height: 400px;
  background: white;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
  box-sizing: border-box;
}

.project-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-info p {
  margin: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
}

.project-info a {
  color: rgb(255, 106, 65);
  font-weight: bolder;
}

.hidden {
  display: none;
}