#skills h2 {
  color: black;
}

.skill-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0% 20% 0% 20%;
}

.skill-list img {
  flex: 0 1 15%;
  color: black;
  width: 30px;
  margin: 15px;
  transition: 0.3s;
  padding: 5px;
  border-radius: 5px;
}

.skill-list img:hover {
  box-shadow: 0px 0px 20px grey;
}