#skills {
  color: black;
}

#skills h3 {
  color: black;
  font-size: 30px;
  padding-bottom: 5%;
}

.resume-list {
  display: flex;
}

.resume-list ul {
  width: 130px;
}

.resume-list > *, #download-resume {
  padding: 2vw;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#download-resume {
  font-size: 20px;
}

#skills h2:hover, #download-resume:hover {
  color: grey;
  transition: 0.3s;
}