.resume-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.resume-list ul {
  padding: 0% 3% 0% 0%;
  min-width: 200px;
  box-sizing: border-box;
}

.resume-list h3 {
  padding: 0% 0% 3% 0%;
}

#skills a {
  margin-top: 5%;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

#skills a:hover, #skills a:focus {
  color: #D7816A;
  border-bottom: 3px solid black;
  width: 95px;
}