.social-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

  position: fixed;
  top: 25%;
  right: 0;
  height: 100vh;
  text-align: center;
  width: 70px;
  z-index: 3;
  background-color: white;
}

.fab, .fa {
  margin: 25% 5px 25% 5px;
  font-size: 40px;
  width: 40px;
  box-sizing: border-box;
  color: white;
  padding: 5px;
  border-left: 3px solid white;
}

.fab:hover, .fa:hover, .fab:focus, .fa:focus {
  cursor: pointer;
  border-left: 3px solid black;
  border-bottom: none;
}

.fa-angellist, .fa-angellist:hover, .fa-angellist:focus, .fa-medium, .fa-medium:hover, .fa-medium:focus {
  background: white;
  color: black;
}

.fa-linkedin, .fa-linkedin:hover, .fa-linkedin:focus  {
  color: #74B2CE;
}

.fa-github, .fa-github:hover, .fa-github:focus {
  color: #D7816A;
}

.fa-instagram {
  color: rgb(187, 132, 219);
}

.fa-envelope {
  color: #F0CF65
}
