.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  position: fixed;
  left: 0;
  height: 100%;
  text-align: center;
  background: black;

  width: 60px;
}

.fab, .fa {
  margin: 25% 5px 25% 5px;
  font-size: 40px;
  width: 40px;
  transition: 0.3s;
  box-sizing: border-box;
  color: black;
}

.fab:hover, .fa:hover {
  cursor: pointer;
  opacity: 0.5;
}

.fa-angellist {
  background: white;
  border-radius: 5px;
  font-size: 35px;
  height: 40px;
  line-height: 40px;
  color: black;
}

.fa-linkedin {
  color: #74B2CE;
}

.fa-github {
  color: #D7816A;
}

.fa-instagram {
  color: rgb(187, 132, 219)
}

.fa-envelope {
  color: #F0CF65
}