.footer,
.hiddenFooter {
  z-index: 2;
  position: fixed;
  line-height: 50px;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: grey;
  background: rgba(130, 130, 130, 0.105);
  border-radius: 5px;
  padding: 0px 20px 0px 20px;
}

@media (max-width: 920px) {
  .hiddenFooter {
    opacity: 0;
  }
}
