.container {
  max-width: 950px;
  margin: 7vh auto;
}

.title {
  font-size: 50px;
  letter-spacing: -0.05em;
  margin-bottom: 1%;
  font-weight: normal;
}

@media (max-width: 1080px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 920px) {
  .title {
    margin: 0 0 18px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}
