@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  position: relative;
  margin: 0 24px 24px 0;
  width: 47%;
  animation-duration: 0.3s;
  animation-name: fadeIn;
  animation-timing-function: linear;
}

.project:hover, .project:focus-visible {
  transform: scale(1.02);
}

.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 50% 0%;
}

.content {
  display: none;
}

.project:hover .content,
.project:focus-visible .content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: grey 0px 4px 8px 0px;
  animation-duration: 0.3s;
  animation-name: fadeIn;
  animation-timing-function: linear;
}

.info {
  margin-top: 16px;
  display: flex;
}

.title {
  color: white;
  font-size: 35px;
  margin-bottom: 16px;
}

@media (max-width: 1060px) {
  .projects {
    margin-right: 30px;
  }

  .project {
    width: 100%;
  }

  .image,
  .project:hover .content,
  .project:focus-visible .content {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .tech {
    display: none;
  }

  .title {
    font-size: 7vw;
    margin: 0;
  }

  .image,
  .project:hover .content,
  .project:focus-visible .content {
    height: 25vh;
  }
}
