html,
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
  transition: 0.3s; 
  outline: none;
}

.fab, .fa, .fas {
  font-size: 40px;
  height: 50px;
  width: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}

.fab:hover,
.fa:hover,
.fas:hover,
.fab:focus,
.fa:focus,
.fas:focus,
.fab:focus-visible,
.fas:focus-visible,
.fa:focus-visible {
  transform: scale(1.1);
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.fa-angellist, .fa-medium {
  color: black;
}

.fa-linkedin  {
  color: #74B2CE;
}

.fa-github, .fa-file-download {
  color: #D7816A;
}

.fa-instagram {
  color: rgb(187, 132, 219);
}

.fa-envelope, .fa-share-square {
  color: #F0CF65
}

.fa-link {
  color: rgb(255, 255, 255);
}

img {
  pointer-events: none;
}

@media (max-width: 920px) {
  .fa-share-square {
    display: none;
  }
}
