@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  position: relative;
  margin: 0 24px 24px 0;
  width: 47%;
  height: 250px;
  animation-duration: 0.3s;
  animation-name: fadeIn;
  animation-timing-function: linear;
}

.image:hover,
.image:focus-visible {
  transform: scale(1.02);
  box-shadow: grey 0px 4px 8px 0px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 100%;
}

@media (max-width: 1060px) {
  .projects {
    margin-right: 30px;
  }

  .project {
    width: 100%;
    height: 100%;
  }
}
