@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  position: relative;
  margin: 0 24px 24px 0;
  width: 47%;
  animation-duration: 0.3s;
  animation-name: fadeIn;
  animation-timing-function: linear;
}

.project:hover, .project:focus-visible {
  transform: scale(1.02);
}

.image {
  width: 100%;
  border-radius: 5px;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 1060px) {
  .projects {
    margin-right: 30px;
  }

  .project {
    width: 100%;
  }

  .image {
    height: unset;
  }
}
