@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.container {
  display: flex;
  flex-direction: row;
}

.image {
  border-radius: 100%;
  height: 380px;
  width: 380px;
  animation-duration: 0.3s;
  animation-name: fadeIn;
  animation-timing-function: linear;
}

.profile {
  margin-left: 5%;
}

.subtitle {
  font-size: 30px;
}

.paragraph {
  font-size: 18px;
  margin: 24px 0;
  line-height: 24px;
}

.link {
  font-size: 18px;
  color: #d7816a;
  text-decoration: none;
}

.link:hover, .link:focus-visible {
  text-decoration: underline;
}

@media (max-width: 920px) {
  .container {
    flex-direction: column;
  }

  .subtitle {
    margin: 24px 0;
  }

  .profile {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .subtitle {
    font-size: 5vw;
  }

  .image {
    border-radius: 100%;
    height: 75vw;
    width: 75vw;
  }
}
